<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Person info</title>
</head>
<body>

<h2>Show the person info</h2>

<p th:if="${library} == null">Person not found</p>
<!--<p th:if="${#ctx.containsVariable('person')} == false">Person not found</p>-->

<th:block th:if="${library}">
    <strong th:text="${library.id}"></strong>
    <strong th:text="${library.title}"></strong>
    <strong th:text="${library.description}"></strong>
    <strong th:text="${library.year}"></strong>
    <strong th:text="${library.author}"></strong>
</th:block>

<br/>

<a th:href="@{/}">List persons</a>

</body>
</html>