<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update persons</title>

  <link rel="stylesheet" th:href="@{/css/styles.css}" />

</head>
<body>

<h2>Updating the book</h2>

<form action="#" method="POST"
      th:action="@{/update}" th:object="${library}">
  <input type="hidden" th:field="*{id}"/> <br/>
  <input type="text" th:field="*{title}"
         placeholder="title"/> <br/>
  <input type="text" th:field="*{description}"
         placeholder="description"/> <br/>
  <input type="text" th:field="*{year}"
         placeholder="year"/> <br/>
  <input type="text" th:field="*{author}"
         placeholder="author"/> <br/>
  <input type="submit" value= "Update book"/>
</form>
<a onclick="history.go(-1)">Back to the list</a>


</body>
</html>