<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a student</title>
</head>
<body>

<h2>Create new student</h2>

<form action="#" method="POST" th:action="@{/student/}" th:object="${student}">
    <input type="text" th:field="*{firstName}" placeholder="FirstName"/> <br/>
    <input type="text" th:field="*{lastName}" placeholder="LastName"/> <br/>
    <input type="submit" value="Save Student"/>
</form>

<a onclick="history.go(-1)">Back to the list</a>

</body>
</html>