<!--!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<-td><span th:text="${course.name}"> Name </span></td>
<td><span th:text="${course.credits}"> credit </span></td>

<form action="#" method="POST"
      th:action="@{/save}" th:object="${course}">
    <input type="text" th:field="*{name}"
           placeholder=" name"/> <br/>
    <input type="text" th:field="*{credits}"
           placeholder="cr"/> <br/>
    <input type="submit" value="Save Person"/>
</form>
<a th:href="@{/list}">Back to the list</a>
</body>
</html-->