<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List of persons</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}" />
</head>
<body>
<h2>Add new person</h2>
<form action="#" method="POST"
      th:action="@{/save}" th:object="${person}">
  <input type="text" th:field="*{firstName}"
         placeholder="First name"/> <br/>
  <input type="text" th:field="*{lastName}"
         placeholder="Last name"/> <br/>
  <input type="submit" value="Save Person"/>
</form>
<a th:href="@{/list}">Back to the list</a>

</body>
</html>