<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>

</head>
<body>

<form action="#" method="POST" th:action="@{/signup}" th:object="${signupDto}">
    <div th:if="${#fields.hasAnyErrors()}" class="alert alert-info">
        <p>Please Correct Errors Below</p>
    </div>

    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" th:field="*{username}" class="form-control" placeholder="Username"/> <br/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert alert-danger"></p>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" th:field="*{email}" class="form-control" placeholder="Email"/> <br/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></p>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" th:field="*{password}" class="form-control" placeholder="Password"/> <br/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert alert-danger"></p>
    </div>

    <input type="submit" value="Sign up"/>
</form>


</body>
</html>