<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of courses</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<img th:src="@{/images/ADAlogo.png}" alt="Ada logo" width="200px" />
<h2>List of all the courses</h2>
<a th:href="@{/newCourse}">Create new course</a>
<table border="1px">
    <tr>
        <th>ID</th>
        <th>name</th>
        <th>departmentname</th>
        <th>credits</th>
        <th>Actions</th>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}">ID</td>
        <td th:text="${course.name}">name</td>
        <td th:text="${course.departmentname}">departmentname</td>
        <td th:text="${course.credits}">credits</td>
        <td>
            <a th:href="@{/update/{id}(id=${course.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>