<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of courses</title>
</head>
<body>

<h2>Add new courses</h2>
<form action="#" method="POST"
      th:action="@{/save}" th:object="${course}">
    <input type="text" th:field="*{name}"
           placeholder="name"/> <br/>
    <input type="text" th:field="*{departmentname}"
           placeholder="departmentname"/> <br/>
    <input type="text" th:field="*{credits}"
           placeholder="credits"/> <br/>
    <input type="submit" value="Save Course"/>
</form>
<a th:href="@{/list}">Back to the list</a>

</body>
</html>