<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of users</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th></th>
    </tr>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}">ID</td>
        <td th:text="${person.getFirstName()}">First name</td>
        <td th:text="${person.getLastName()}">Last name</td>
        <td>
            <a th:href="@{/update/{id}(id=${person.getFirstName()})}">Update</a>
            <a th:href="@{/delete/{id}(id=${person.getId()})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>