<!DOCTYPE html>
<html lang="en"
      xmlns:lang="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>List of persons</title>
</head>
<body>

<h3>List of people</h3>

<table border="1px">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Actions</th>
    </tr>
    <tr th:each="person : ${personList}">
        <td th:text="${person.id}">ID</td>
        <td th:text="${person.firstName}">Firstname</td>
        <td th:text="${person.lastName}">Lastname</td>
        <td>
            <a th:href="@{/update/{id}(id=${person.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${person.id})}">Delete</a>
        </td>
    </tr>
</table>

<a th:href="@{/newPerson}">Create new Person</a>



</body>
</html>