<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form action="#" method="POST" th:action="@{/save}">
  <input type="text" th:field="*{person.firstName}" placeholder="First Name">
  <input type="text" th:field="*{person.lastName}" placeholder="Last Name">
  <input type="submit" value="Send">

</form>
</body>
</html>