<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of persons</title>
</head>
<body>
    
    <h2>Add new person</h2>

    <form action="#" method="POST"
th:action="@{/save}" th:object="${person}">

<input type="text" th:field="*{firstName}"
placeholder="First name"/> <br/>

<input type="text" th:field="*{lastName}"
placeholder="Last name"/> <br/>

<input type="submit" value="Save Person"/>

</form>
<a th:href="@{/list}">Back to the list</a>
        
</body>
</html>