<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete confirmation</title>
</head>
<body>
<header>
  <nav>
    <a th:href="@{/books}">List Books</a>
    <a th:href="@{/create}">Create Book</a>
  </nav>
</header>
<main>
  <form method="POST" th:action="@{/delete/{id}(id=${book.id})}">
    <h2>
      Are you sure that you want to delete <span th:text="${book.title}"></span>?
    </h2>
    <input type="submit" value="Delete">
    <a th:href="@{/books}">Cancel</a>
  </form>
</main>

</body>
</html>