<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <title>List of books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<header>
    <nav>
        <a th:href="@{/books}">List Books</a>
        <a th:href="@{/create}">Create Book</a>
    </nav>
</header>
<main>

<table border="1px">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Year</th>
        <th>Author</th>
        <th></th>
    </tr>
    <tr th:each="book : ${booksList}">
        <td th:text="${book.id}">ID</td>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.description}">Description</td>
        <td th:text="${book.year}">Year</td>
        <td th:text="${book.author}">Author</td>
        <td>
            <a th:href="@{/update/{id}(id=${book.id})}">Update</a>
            <a th:href="@{/delete/{id}(id=${book.id})}">Delete</a>
        </td>
    </tr>
</table>
</main>

</body>

</html>