<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Log out!">
</form>

<a th:href="@{/student/newForm}"> Create new student </a>
<br/>
<table>
    <thead>
    <tr>
        <th> Firstname</th>
        <th> Lastname</th>
        <th> School</th>
        <th> Courses</th>
        <th> View</th>
        <th> Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${students.empty}">
        <td> No data found….</td>
    </tr>
    <tr th:each="student : ${students}">
        <td><span th:text="${student.firstName}"> Name </span></td>
        <td><span th:text="${student.lastName}"> Surname </span></td>
        <td><span th:text="${student.schoolName}"> School </span></td>
        <td>
            <select>
                <option th:each="course : ${student.courses}"
                        th:text="${course.courseName}"
                        th:value="${course.id}"></option>
            </select>
        </td>
        <td><a th:href="@{/student/{id}(id=${student.id})}"> View </a></td>
        <td><a th:href="@{/student/edit/{id}(id=${student.id})}"> Edit </a></td>
    </tr>
    </tbody>
</table>

</body>
</html>