<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of available products</title>
</head>
<body>

<h2>Add new product</h2>
<form action="#" method="POST"
      th:action="@{/save}" th:object="${product}">
    <input type="text" th:field="*{name}"
           placeholder="name"/> <br/>
    <input type="text" th:field="*{weight}"
           placeholder="weight"/> <br/>
    <input type="text" th:field="*{price}"
           placeholder="price"/> <br/>
    <input type="submit" value="Save Product"/>
</form>
<a th:href="@{/list}">Back to the list</a>

</body>
</html>