<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a event</title>
    <link rel="stylesheet" type="text/css" href=""  th:href = "@{/css/style.css}">

</head>
<body>

<h2>Create new event</h2>

<form action="#" method="POST" th:action="@{/event/}" th:object="${event}">
    <input type="text" th:field="*{name}" placeholder="Event name"/> <br/>
    <input type="text" th:field="*{description}" placeholder="Event description"/> <br/>
    <input type="submit" value="Save Event"/>
</form>

<!--<a th:href="@{/list}">Back to the list</a>-->
<a onclick="history.go(-1)">Back to the list</a>

</body>
</html>