<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a new Course</title>
</head>
<body>
    <h2>Create new Course</h2>

    <form method="POST" th:action="@{/save}" th:object="${course}">
        <input type="text" th:field="*{course_name}" placeholder="Course name"/> <br/>
        <input type="text" th:field="*{course_fac}" placeholder="Course Faculty"/> <br/>
        <input type="submit" value="Save Course"/>
    </form>

    <a onclick="history.go(-1)">Back to the list</a>

</body>
</html>